@using EduSchoolCore.EL.AllClass;
@model Blog
@{
    ViewData["Title"] = "UpdateBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div id="page-wrapper">
	<div class="main-page">
		<h2 class="title1">Yeni</h2>
		<div class="blank-page widget-shadow scroll" id="style-2 div1">
			<form method="post">
				<br />
				<input type="hidden" asp-for="AppUserId" class="form-control" value="@ViewBag.AppUserID" />
				<br />
				@Html.Label("Adı")
				<input type="text" asp-for="Title" class="form-control" />
				<br />
				@Html.Label("Şəkil ")
				<input type="text" asp-for="Picture" class="form-control" />
				<br />
				@Html.Label("Haqqında")
				<input type="text" asp-for="Description" class="form-control" />
				<br />
				<input type="submit" class="btn btn-success btn-flat btn-pri" value="Təsdiqlə" />

			</form>
		</div>
	</div>
</div>



